# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing & Coverage
/coverage
coverage/
.coverage/
.nyc_output/
test-results/
playwright-report/

# Next.js
.next/
out/
build/
dist/

# Production
/build

# Misc
.DS_Store
Thumbs.db
*.pem
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Vercel
.vercel

# Monitoring / Analytics
.sentryclirc
sentry.properties

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Turbo
.turbo/

# Cache
.cache/
